@media (max-width: 1500px) {
   .presentation__row {
      margin-left: calc(42px + 88 * ((100vw - 320px) / (1140 - 320)));
   }
   .presentation {
      &__img {
         left: calc(0px + 850 * ((100vw - 320px) / (1800 - 320)));
      }
   }
   .sidepanel {
      position: absolute;
      // left: -142px;
      // top: 229px;
      left: -110px;
      // calc(-145px + 80 * ((100vw - 320px) / (1140 - 320)));

      // calc(196px + 214 * ((100vw - 320px) / (1140 - 320)));
   }
}
@media (max-width: 1300px) {
   .about {
      &__img {
         padding-left: 10px;
      }
   }
}
@media (max-width: 1200px) {
   .presentation__img {
      img {
         width: calc(310px + 350 * ((100vw - 320px) / (1140 - 320)));
         height: calc(380px + 377 * ((100vw - 320px) / (1140 - 320)));
         // width: 660px;
         // height: 757px;
      }
   }
   .sidepanel {
      left: -130px;
   }
   .about {
      padding-top: calc(40px + 80 * ((100vw - 320px) / (1140 - 320)));
      padding-bottom: calc(40px + 80 * ((100vw - 320px) / (1140 - 320)));
      &__img {
         width: calc(300px + 100 * ((100vw - 320px) / (1140 - 320)));
         height: calc(340px + 260 * ((100vw - 320px) / (1140 - 320)));
      }
      .horizontal {
         &__title {
            font-size: calc(24px + 12 * ((100vw - 320px) / (1140 - 320)));
         }
         &__text {
            font-size: calc(15px + 2 * ((100vw - 320px) / (1140 - 320)));
         }
      }
   }
   .experience {
      padding-right: 15px;
   }
}
@media (max-width: 1100px) {
   .about {
      padding-left: 10px;
      margin-right: 20px;
      &__row {
         column-gap: 5px;
      }
   }
}
@media (max-width: 991px) {
   .presentation {
      h1 {
         font-size: calc(29px + 24 * ((100vw - 320px) / (1140 - 320)));
         line-height: calc(42px + 21 * ((100vw - 320px) / (1140 - 320)));
      }
      h2 {
         font-size: calc(15px + 3 * ((100vw - 320px) / (1140 - 320)));
      }
      &__text {
         padding-top: calc(86px + 120 * ((100vw - 320px) / (1140 - 320)));
      }
   }
   .sidepanel {
      span {
         font-size: 15px;
      }
   }
   .about {
      &__row {
         padding-right: 0;
         grid-template-columns: minmax(332px, 382px) minmax(235px, 670px);
         grid-template-rows: minmax(497px, 585px) minmax(120px, auto);
         column-gap: 10px;
      }
      &__horizontal {
         max-width: 400px;
         justify-self: center;
         padding-right: 0;
      }
      &__skills {
         grid-column: 1/3;
         grid-row: 2/3;
         padding-right: 0;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: minmax(120px, auto);
         grid-auto-rows: minmax(120px, auto);
         column-gap: 10px;
         row-gap: 0;
         &-item {
            padding-left: 10px;
            &-title {
               font-size: calc(14px + 2 * ((100vw - 320px) / (1140 - 320)));
            }
            &-text {
               font-size: calc(13px + 1 * ((100vw - 320px) / (1140 - 320)));
            }
         }
      }
   }
   .horizontal__text {
      margin-bottom: 0;
   }
   .column1 {
      grid-column: 1/2;
      grid-row: 1/2;
   }
   .column2 {
      grid-column: 2/3;
      grid-row: 1/2;
   }
   .column3 {
      grid-column: 3/4;
      grid-row: 1/2;
   }
   .experience {
      &__suptitle {
      }
      &__title {
      }
   }
}
@media (max-width: 768px) {
   .presentation__row {
      margin-left: calc(80px + 50 * ((100vw - 320px) / (1140 - 320)));
   }
   .presentation {
      &__row {
         flex-direction: column;
      }
      &__text {
         padding-bottom: 0;
      }
   }
   .sidepanel {
      left: -142px;
      span {
         font-size: 15px;
      }
   }
   .about {
      &__row {
         grid-template-columns: minmax(332px, 355px) minmax(235px, 670px);
         grid-template-rows: minmax(497px, 545px) minmax(120px, auto);
      }
      &__horizontal {
         padding: 12px 10px 0 10px;
      }
      &__skills {
         grid-template-columns: repeat(2, 254px);
         grid-template-rows: repeat(2, minmax(120px, auto));
         column-gap: 50px;
         row-gap: 20px;
         /* &-item{
      padding-right: 10px;
         } */
      }
   }
   .column3 {
      grid-column: 1/2;
      grid-row: 2/3;
   }
}
@media (max-width: 576px) {
   .humburger {
      top: 20px;
      right: 30px;
   }
   .about {
      padding-left: 20px;
      &__row {
         grid-template-columns: minmax(320px, auto);
         grid-template-rows: minmax(340px, 490px) minmax(260px, auto) minmax(400px, auto);
         column-gap: 0;
         justify-content: center;
      }
      /*  &__img{
         img{
            align-self: center;
         }
      } */
      &__horizontal {
         grid-column: 1/2;
         grid-row: 2/3;
         margin-bottom: 20px;
      }
      &__skills {
         grid-column: 1/2;
         grid-row: 3/4;
         grid-template-columns: 270px;
         grid-template-rows: repeat(3, minmax(120px, auto));
      }
      .column1 {
         grid-column: 1/2;
         grid-row: 1/2;
      }
      .column2 {
         grid-column: 1/2;
         grid-row: 2/3;
      }
      .column3 {
         grid-column: 1/2;
         grid-row: 3/4;
      }
   }
}
@media (max-width: 380px) {
   .sidepanel {
      left: -155px;
   }
   .presentation__row {
      margin-left: calc(55px + 75 * ((100vw - 320px) / (1140 - 320)));
   }
}
@media (max-width: 320px) {
   .humburger {
      span {
         margin: 2px;
         width: 28px;
         height: 3px;
         &.long {
            width: 28px;
         }
      }
   }
}
