.humburger {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   position: absolute;
   top: 30px;
   right: 40px;
   z-index: 4;
   cursor: pointer;
   span {
      margin: 3px;
      display: inline-block;
      width: 30px;
      height: 3px;
      background-color: #151812;
      &.long {
         width: 36px;
      }
   }
}
.menu {
   position: fixed;
   top: 0;
   left: 0;
   left: -100%;
   z-index: 5;
   width: 345px;
   height: 100vh;
   visibility: hidden;
   opacity: 0;
   transition: all 0.6s;
   &.active {
      left: 0;
      visibility: visible;
      opacity: 1;
   }
   &__block {
      position: absolute;
      background-color: $color-orange;
      width: 100%;
      height: 100%;
      z-index: 5;
   }

   &__close {
      position: absolute;
      top: 42px;
      right: 25px;
      font-size: 64px;
      line-height: 0;
      color: #000000;
      width: 29px;
      height: 29px;
      cursor: pointer;
   }
   &__list {
      padding: 140px 94px 369px 40px;
   }
   &__link {
      position: relative;
      margin-bottom: 15px;
      padding-left: 35px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: $color-ice;
      cursor: pointer;
      &::before {
         content: "";
         position: absolute;
         top: 8px;
         left: 0;
         width: 15px;
         height: 15px;
         background: transparent;
         border: 1px solid #000;
         border-radius: 50%;
      }
   }
   &__footer {
      width: 90px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 128px;
      bottom: 50px;
      img {
         width: 20px;
         height: 20px;
         cursor: pointer;
      }
   }
   &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.6;
      z-index: 4;
   }
}
