.presentation {
   position: relative;
   grid-column: 1/12;
   height: 100vh;
   background: $color-ice;
   &__text {
      position: relative;
      z-index: 1;
      padding: 206px 0px 362px 0px;
      h1 {
         font-weight: 700;
         font-size: 53px;
         line-height: 63px;
         margin-bottom: 25px;
      }
      h2 {
         position: relative;
         z-index: 2;
         font-weight: 700;
         font-size: 18px;
         padding-left: 14px;
         margin-bottom: 10px;
         @include before-circle;
      }
   }
   &__buttons {
      display: flex;
      width: 280px;
   }
   &__button-active {
      width: 135px;
      height: 45px;
      margin-right: 10px;
      background-color: $color-red;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border: 0;
   }
   &__button {
      background: transparent;
      // background: $color-ice;
      width: 135px;
      height: 45px;
      border: 0;
   }
   &__buttons-left {
      font-weight: 700;
      font-size: 15px;
      // color: $color-ice;
      cursor: pointer;
   }
   &__buttons-right {
      font-weight: 700;
      font-size: 15px;
      margin-top: 41px;
      cursor: pointer;
   }
   &__img {
      position: absolute;
      left: 850px;
      bottom: 0px;
      z-index: 0;
      img {
         width: 660px;
         // max-height: 50%;
         height: 757px;
      }
   }
}
